:root {
    --primary-color: #02153f;
    --secondary-color: #01aced;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgb(225, 255, 255) 35%, #02153f 10%);
    margin: auto;

}

/*  NAVBAR  */

header {
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-content: center;
}

.logo a {
    font-size: 25px;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}

nav {
    z-index: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    padding: 0.4rem 1.3rem;

}

nav a:hover,
nav a.active {
    color: #26699b;
    transition: all 0.3s ease-in;
}

#click {
    display: none;
}

.menu {
    display: none;
}

/*NAVBAR*/

section {
    margin: 2rem 8.5rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.main p {
    margin-top: 1rem;
    font-size: .98rem;
    color: #fff;
    width: 400px;
    text-align: center;
    line-height: 1.3rem;
    font-weight: normal;
}

.Information {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: auto;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.7rem;
}

.social a {
    color: var(--secondary-color);
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0.3rem;
    text-align: center;
    width: 27px;
    height: 25px;
    display: grid;
    place-items: center;

}

.social a:hover {
    color: #fff;
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    border-color: var(--secondary-color);
    transition: all .3s ease-in-out;

}

/* IMAGE*/

.images {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    margin: auto;
}

.blue-bg-outer {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background: #02153f;
    display: grid;
    place-items: center;
}

.white-bg {
    width: 21.875em;
    height: 21.875em;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
}

.blue-bg {
    width: 18.75em;
    height: 18.75em;
    border-radius: 50%;
    background: var(--primary-color);
}


.blue-bg img {
    position: relative;
    bottom: 105px;
    left: 10px;
    width: 80%;
    border-radius: 40%;
    border-bottom-right-radius: 65px; 
}



/*BUTTON*/
.cv-btn {
    margin-top: 1.5rem;
    padding: 0.7em 2.5em;
    border-radius: 25px;
    background-color: #01aced;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 0;
}

.cv-btn:hover {
    background-color: #01aced;
    box-shadow: 0 0 10px #01aced;
    transition: all .3s ease-in-out;

}

/*ANIMATION*/

.animated_text h1 {
    -webkit-text-stroke: 1px #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background-repeat: no-repeat;
    background-image: linear-gradient(#01aced, #01aced);
    -webkit-background-clip: text;
    background-clip: none;
    background-position: -500px 0;
    animation: backcolor 5s linear infinite;
}

@keyframes backcolor {

    100% {
        -webkit-text-stroke: 1px #01aced;
        background-position: 0 0;
    }
}
@media only screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }

    section {
        margin: 0;
    }
    .blue-bg img {
    position: relative;
    bottom: 60px;
    left: 10px;
    width: 80%;
    border-radius: 40%;
    border-bottom-right-radius: 65px; 
    height: 300px;
}

}

@media screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }

    body {
        background: linear-gradient(180deg, rgb(255, 255, 255) 35%, #02153f 10%);
    }

    .menu {
        display: block;
    }

    .menu {
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    header {
        padding: 0.7rem 1rem;
        justify-content: space-between;
    }

    nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #02153f;
        left: -100%;
        width: 100%;
        top: 3rem;
        transition: all 0.3s ease;
    }

    nav a {
        color: #fff;
    }
    #click:checked~nav {
        left: 0;
    }
    .Information {
        align-items: start;
    }
    .blue-bg img {
    position: relative;
    bottom: 60px;
    left: 10px;
    width: 80%;
    border-radius: 40%;
    border-bottom-right-radius: 65px; 
    height: 350px;

}

@media only screen and (max-width: 480px) {

    section {
        margin: 0 1rem;
    }
    .images {
        min-width: 15em;
    }

    .blue-bg-outer {
        width: 20em;
        height: 20em;
        margin: auto;

    }

    .white-bg {
        width: 16.875em;
        height: 16.875em;
    }

    .blue-bg {
        width: 12.75em;
        height: 12.75em;
    }
    .blue-bg img {
    position: relative;
    bottom: 90px;
    left: 10px;
    width: 80%;
    border-radius: 40%;
    border-bottom-right-radius: 65px; 
    height: 300px;
}

@media only screen and (max-width: 320px) {
    .images {
        height: 17em;
    }
    .blue-bg-outer {
        width: 16em;
        height: 16em;

    }

    .white-bg {
        width: 13em;
        height: 13em;
    }

    .blue-bg {
        width: 11em;
        height: 11em;
    }

    .blue-bg img {
        position: relative;
        bottom: 30px;
        right: 0px;
        left: 0px;
        width: 100%;
        height: 200px;
    }
}